// component size
$sm: 40px;
$md: 44px;
$lg: 48px;

// media break points
$mobile     : '(min-width: 320px)';
$tablet-sm  : '(min-width: 600px)';
$tablet-md  : '(min-width: 800px)';
$desktop-sm : '(min-width: 1024px)';
$desktop-md : '(min-width: 1600px)';