//모바일
.password {
    .password-bg {
        height: 320px; 
        background: url('http://yolllley.triplexlab.co.kr/src/imgs/rectangle.png') no-repeat center center;
        background-size:cover;
    }
    .password-tit {
        width: 270px;
        font-weight: 100;
        margin-top: -27px;
        line-height: 1;
        font-family: 'unna', sans-serif;
        span{
            display: inline-block;
            &:nth-child(2) {width: 310px;}
        }
    }
    .password-txt{
        font-family: 'Montserrat';
        padding: 20px 0 32px 0;
    }
    
    .info-components {
        input:nth-child(1) {margin-bottom: 20px;}
        .info-inner {
            p:nth-child(1){float: left;}
            p:nth-child(2){float: right;}
            a {padding: 0;}
        }
        .btn {font-family: 'unna', sans-serif;}
    }
}

// 태블릿 sm
@media(min-width:600px){
    .password {
        .password-bg {
            height: 337px;
        }
        .password-tit {
            width: 100%;
            margin-top: -40px;
            span {
                display: block;
                &:nth-child(2) {width: auto;}
            }
        }
    }
}


// 태블릿 md
@media(min-width:800px){
    .password {
        height: 100%;
    }
}


// 데스크탑 sm
@media(min-width:1024px){
    .password {
        .password-bg {
            height: 400px;
        }
        .password-txt {
            width: 354px;
            float: left;
        }
        .info-components {
            width: 345px;
            float: right;
        }
    }
}

// 데스크탑 md
@media(min-width:1600px){
    .password {
        .password-bg {
            height: 640px;
        }
       .wrapper {
           padding: 0 200px;
       }
    }
}