// 모바일
.project_add {
    padding: 180px 0 100px 0;
    h1.propslist-tit {
        font-weight: 100;
        padding-bottom: 80px;
    }
    
    .filebox input[type="file"] {  /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    .filebox {
        padding-bottom: 41px;
        label {
            width: 240px;
            height: 240px;
            position: relative;
            display: inline-block;
            border: 1px dashed #9E9E9E;
            cursor: pointer;
    
            i.material-icons {
                font-size: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        &:nth-of-type(2) {margin-top: 40px;}
    }
    .day-inner {
            div {
                width: 50%;
                float: left;
                box-sizing: border-box;
                &:nth-child(1){padding-right: 6px;}
                &:nth-child(2){padding-left: 6px;}
            }
    }
    .textarea-txt__box textarea {resize: none; padding: 14px 18px;}
    input.input {
        margin-bottom: 12px;
    }
    div.btn-inner {
        padding-top: 40px;
        div {
            width: 50%; 
            float: left;
            &:nth-child(1){
                padding-right: 6px;
                box-sizing: border-box;
            }
            &:nth-child(2){
                padding-left: 6px;
                box-sizing: border-box;
            }
            button.btn{
                width: 100%;
                height: 48px;
                line-height: 48px;
                font-family: 'Unna';
            }
        }
    }
}

// 태블릿 md
@media(min-width:800px){
    .project_add {
        .wrapper {
            max-width: 700px;
            margin: 0 auto;
        }
        div.btn-inner {
            text-align: center;
            div {
                width: auto; 
                float: none;
                display: inline-block;
                &:nth-child(1){
                    padding-right: 6px;
                    box-sizing: border-box;
                }
                &:nth-child(2){
                    padding-left: 6px;
                    box-sizing: border-box;
                }
                button.btn{
                    width: 152px;
                    height: 48px;
                    line-height: 48px;
                    font-family: 'Unna',sans-serif;
                }
            }
        }
    }

}
