// 모바일
.schedulelist {
    .wrapper {
        padding: 0 20px;
        box-sizing: border-box;
    }
    padding: 120px 0 0 0;
    h1.schedulelist-tit {
        font-weight: 100;
        font-family: 'unna', sans-serif;
        padding: 0 0 10px 0;
    }
    h1.schedulelist-txt {
        font-family: 'unna', sans-serif;
    } 
    .check-box__component {
        display: inline-block;
    }
    .items {
        padding: 5px 0 0 0;
        .item {
            padding: 10px 0;
            box-sizing: border-box;
            a {
            width: 100%;
            border-bottom: 1px solid #9E9E9E;
            padding-bottom: 22px;
                .item__inner {
                    float: left;
                    &:nth-child(2){float: right;}

                    .check-box__inner {
                        .material-icons {
                            display: inline-block;
                            vertical-align: middle;
                            color: #9E9E9E;
                            &.is-active {color: blue;}
                        }
                    }

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: 'unna', sans-serif;

                        &:nth-child(2) {margin-left: 20px;}
                    }

                    &:nth-child(2) {margin-top: 30px;}
                    .item-txt {
                        font-family: 'unna', sans-serif;;
                    }
                }
            }

           
            .sub-txt {
                display: none;
                line-height: 1.8;
                padding: 20px;
                box-sizing: border-box;
                font-family: 'Montserrat';
                background-color: #F5F5F5;
                border-bottom: 1px solid #000000;
                height: 183px;
                overflow-y: scroll;
            }
        }
    }
    .pagination {

        a.pagination-prev{
            float: left;
        }
        span.pagination-number {padding-top: 10px; display: inline-block;}
        a.pagination-next{
            float: right;
        }
    }
    .button-innner {
        padding: 35px 0; 

        div {
            &:nth-child(1) {
                float: left;
            }
            &:nth-child(2){
                float: right;
            }
            button { width: 154px; }
        }
    }
}


// 태블릿 sm
@media(min-width:600px){
   
}

// 태블릿 md
@media(min-width:800px){
    .schedulelist {
        .wrapper {
            padding: 0 40px;
            box-sizing: border-box;
        }
    }
}

// 데스크탑 sm
@media(min-width:1024px){
    .schedulelist {
        .pagination {
    
            a.pagination-prev{
                float: none;
            }
            span.pagination-number {padding-top: 0; display: inline-block;}
            a.pagination-next{
                float: none;
            }
        }
    }

}

// 데스크탑 md
@media(min-width:1600px){
    .schedulelist {
        .wrapper{
            max-width: none;
            padding: 0 60px;
        }
    }
}